*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html{
    background-color: black;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/*nav*/

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px;
    border-bottom: solid 2px white;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}
.logo img{
    width: 60px;
    margin-right: 10px;
    border-radius: 50px;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
    padding: 5px;
}

nav a:hover{
color: black;
font-size: 25px;
transition: 1s;
background-color: rgba(255, 255, 255, 0.185);
border-radius: 20px 20px 0px 0px;
}


/*seccion ofertas*/
.container{
    border-radius: 0;
    width: 100vw;
    height: 50vh;
    transition: 0.6s;
    background-color:rgba(10, 10, 10, 0.904);
    border: solid 2px white;
}



.container2{
    background-color: rgb(5, 42, 75);
    margin: 20px;
    width: 270px;
    height: 270px;
    border: solid white 1px;

}
         
.banerOfertas{
    color:white;
    text-align: center;
    padding-top: 100px;

}

/*Categorias*/
.seccion2{
    text-align: center;
    color: white;
    margin-top:100px;
    height: 300px;
}

.seccion2 h2{
    margin-bottom: 70px;
}



.seccion2 a {
padding: 30px;



}


/*Footer*/

footer{
border-top: dashed 1px white;
text-align: center;
height: 50vh;
background-color: rgb(0, 0, 0);


}

footer ul li{
margin: 20px;

display: inline;
color: rgb(255, 255, 255);

}
