* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/*nav*/

header {
  background-color: #0e0e0e;
  display: flex;
  color: white;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 14px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2em;
}
.logo img {
  width: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

nav{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
   
  }
  
nav a {
  font-weight: 600;
  padding-right: 20px;
  padding: 5px;
}

nav a:hover {
  color: black;
  font-size: 25px;
  /* transition: 1s; */
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 20px 20px 0px 0px;
}

/*seccion ofertas*/
.banner {
  display: flex;
  /* justify-content: end; */
  border-radius: 0;
  width: auto;
  height: 65vh;
  background-image: url("../images/maxresdefault.webp");
  background-position: 25% 45%;
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */
}

@media (max-width: 768px) {
  .banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.bannerCard {
  background: linear-gradient(#ea1e63, #ea1e6227) ;
  /* transform: scaleX(-1); */
  margin: 3rem;
  width: 300px;
  height: 325px;
}

.bannerCard ul {
  margin-top: 1rem;
  list-style: none;
  color: white;
}
.bannerCard li {
  font-weight: bold;
  font-size: 1.25em;
  padding: 15px 10px;
}
.bannerCard li:hover {
  cursor: pointer;
  background-color: white;
  color: #3e5757e0;
  transition: 0.5s ease-in-out;
}

.bannerCard .control {
  display: flex;
  justify-content: center;
}

.bannerCard button {
  background-color: white;
  border: none;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.bannerCard button:hover {
  background-color: rgb(172, 172, 172);
  transition: 0.3s ease-in-out;
}

.banerOfertas {
  color: white;
  text-align: center;
  padding-top: 100px;
}

/*Categorias*/
.category {
  text-align: center;
  color: black;
  height: 300px;
}

.category a {
  padding: 30px;
}



/*Footer*/

.footer {
  background-color: #070707;
  padding-top: 20px;
  font-size: 14px;
}

.footer h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer p {
  color: #ffffff;
  line-height: 1.6;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ffffff;
}

.footer ul li img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.footer form button {
  margin-bottom: 10px;
  margin-top: 10px
}

.bottom-bar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
}

.bottom-bar p {
  margin-bottom: 0;
}